.ReviewDetailsPage {
    min-height: 100%;
    width: 100%;
}

.EditButton {
    margin-bottom: 24px;
}

.assessment {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
