.cardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px;
}

.MainPage {
    width: 100%;
}

.tagCloud {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.noData {
    margin-top: 24px;
}
