:root {
    --color-black-100: rgb(100, 100, 100);
    --color-black-200: rgb(150, 150, 150);
    --color-black-300: rgb(200, 200, 200);
    --color-black-400: rgb(240, 240, 240);

    --color-true-black: rgb(0, 0, 0);

    --color-base: rgb(255, 255, 255);

    --overlay-color: rgba(0 0 0 / 60%);
    --red-light: #f00;
    --red-dark: #ce0505;
}
