.Header {
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid grey;
}

.image {
    fill: greenyellow;
    height: calc(var(--header-height) - 20px);
    width: 400px;
}

.title {
    cursor: pointer;
    &:hover{
        opacity: 0.6;
    }
}
