.searchFilter {
    & > li:nth-of-type(4) {
        margin-left: auto;
    }
}

.search {
    display: flex;
    margin: auto;
    width: 50%;
}


@media screen and (max-width: 767px) {
    .search {
        width: 100%;
    }
}
